@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@theme {
  --font-sans: 'Outfit', sans-serif;
}

html, body {
  overflow: hidden;
  position: relative;
}

.root {
  isolation: isolate;
}